<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

 {{>header}}
<div class="main-content">
    <p style='text-align:center'>{{desc}}</p>
<img class='portrait' src="/img/sidl_general.png" alt="">
</div>

{{>footer}}
</body>

</html>